:root {
    --color-primary: #01c18b;
    /* --color-primary: #6aff00; */
    /* --color-primary: #6aff00; */

}

/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* main styling */
html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2, h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0;
}

/* Navbar */
#navbar {
    background: #333;
    overflow: auto;
}

#navbar a{
    color: #fff;
}

#navbar h1 {
    float: left;
    padding-top: 20px;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    text-align: center;
    transition: .5s;
    padding: 20px;
}

#navbar ul li a:hover, #navbar ul li a.current {
    background-color: #444;
    color: var(--color-primary);
}

/* showcase */
#showcase {
    background: url(../img/showcase.jpg) no-repeat center center/cover;
    position: relative;
    height: 600px;
    z-index: 1;
}
#showcase::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333;
    width: 100%; 
    height: 100%;
    opacity: .88;
    z-index: -1;
}

#showcase .showcase-content {
    color: #fff;
    text-align: center;
    padding-top: 170px;
}

#showcase .showcase-content h1 {
    font-size: 60px;
    line-height: 1.2em
}

#showcase .showcase-content p {
    padding-bottom: 20px;
    line-height: 1.7em;
}


/* Home-Info */
#home-info {
    height: 500px;
    overflow: hidden;
}

#home-info .info-img {
    float: left;
    width: 50%;
    min-height: 100%;
    background: url('../img/photo-3.jpg') no-repeat center center/cover;
}

#home-info .info-content {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 60px 40px;
    margin-top: 80px;
} 

#home-info .info-content p {
    padding-bottom: 20px;
}


/* features */
.box-features {
    float: left;
    text-align: center;
    width: 33.3%;
    height: 350px;
    padding: 50px;
    overflow: hidden;
}
.box-features:nth-child(2) {
    color: #333;
}

.box-features-content {
    margin-top: 10px;
}

.box-features-content i {
    font-size: 60px;
}

.box-features-content h3 {
    margin-top: 10px;
    font-size: 30px;
}

.box-features-content p {
    font-size: 18px;
    line-height: 1.4em; 
}


/* about */
#about-info {
    padding: 50px 0;
}

#about-info .info-right {
    float: right;
    width: 50%;
    min-height: 100%;
}
#about-info .info-right  img {
    display: block;
    margin: auto;
    width: 60%;
    height: 300px;
    border: 1px solid var(--color-primary);
    border-radius: 50%;
 }

 #about-info .info-left {
    float: left;
    margin-top: 40px;
    width: 50%;
    min-height: 100%;
 }

 #about-info .info-left h2 {
    font-size: 35px;
 }


/* testimonials */
#testimonials {
    background-image: url(../img/test-bg.jpg);
    position: relative;
    height: 600px;
    z-index: 2;
}

#testimonials::before {
content: " ";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #000000;
opacity: .88;
z-index: -2;
}

#testimonials .testimonial {
    position: relative;
    padding: 40px;
    margin-top: 40px;
    border-radius: 10px;
    z-index: 3;
}
#testimonials .testimonial::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    background: var(--color-primary);
    opacity: 0.4;
    z-index: -3;
}

#testimonials .container h1 {
    font-size: 35px;
    color: #f4f4f4;
    text-align: center;
    margin-top: 35px;
    padding-top: 20px;
}

#testimonials .testimonial img {
    height: 100px;
    float: left;
    margin-right: 20px;
    border: 3px solid #fff;
    border-radius: 50%;
}
#testimonials .testimonial p {
    color: #fff;
}

/* Contact  */
#contact-form {
    padding: 30px;
}

#contact-form h1 {
    font-size: 40px;
}

#contact-form p {
    font-size: 20px;
}

/* Form group */
.form-group {
    padding: 20px 0;
}

.form-group input{
    display: block;
    width: 100%;
    padding: 15px;
}

.form-group textarea {
    display: block;
    width: 100%;
    height: 200px;
}

form button {
    cursor: pointer;
}

/* box  */
.box {
    float: left;
    text-align: center;
    width: 33.3%;
    padding: 50px;
    overflow: hidden;
}

.box {
    margin-top: 10px;
}

.box i {
    font-size: 60px;
}

.box h3 {
    margin: 15px 0 10px 0;
    font-size: 20px;
}

.box p {
    font-size: 18px;
    line-height: 1.4em; 
}



/* footer */
#main-footer {
    text-align: center;
}

#main-footer p {
    margin: 25px 0;
}

























