:root {
    --color-primary: #fef461;
    /* --color-primary: #6aff00; */
    /* --color-primary: #6aff00; */

}

/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* main styling */
html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2, h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0;
}

/* uility classes */
.container {
    margin: auto;
    max-width: 1100px;
    padding: 0 20px;
    overflow: auto;
}

.text-primary {
    color: var(--color-primary);
}

.lead {
    font-size: 20px;
}

.btn {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background-color: red;
    padding: 13px 20px;
    border: none;
    border-radius: 5px;
    transition: .8s;
}

/* bg colors */
.bg-dark {
    background-color: #333;
    color: #fff;
}

.bg-light {
    background-color: #e2e1e1;
    color: #333;
}

.bg-gray {
    background: #444;
    color: #000;
}

.bg-primary-color {
    background-color: var(--color-primary);
    color: #333;
}

/* btn color */

.btn-dark {
    background-color: #333;
    color: var(--color-primary);
}

.btn-light {
    background-color: #fff;
    color: #000;
}

.btn-light-green {
    background-color: var(--color-primary);
    color: #000;
}

/* Btn hover */

.btn-dark:hover {
    background-color: var(--color-primary);
    color: #000;
}

.btn-light:hover {
    background-color: var(--color-primary);
    color: #fff;
}

/* Navbar */
#navbar {
    background: #333;
    overflow: auto;
}

#navbar a{
    color: #fff;
}

#navbar h1 {
    float: left;
    padding-top: 20px;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    text-align: center;
    transition: .5s;
    padding: 20px;
}

#navbar ul li a:hover, #navbar ul li a.current {
    background-color: #444;
    color: var(--color-primary);
}

/* Navbar-light */
#navbar-light {
    background: #ffffff;
    overflow: auto;
}

#navbar-light a{
    color: #333;
}

#navbar-light h1 {
    float: left;
    padding-top: 20px;
}

#navbar-light ul {
    list-style: none;
    float: right;
}

#navbar-light ul li {
    float: left;
}

#navbar-light ul li a {
    display: block;
    text-align: center;
    transition: .5s;
    padding: 20px;
}

#navbar-light ul li a:hover, #navbar-light ul li a.current {
    background-color: #a4a4a4;
    color: var(--color-primary);
}

/* showcase */
#showcase {
    background: url(../img/showcase.jpg) no-repeat center center/cover;
    position: relative;
    height: 600px;
    z-index: 1;
}

#showcase::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333;
    width: 100%; 
    height: 100%;
    opacity: .88;
    z-index: -1;
}

#showcase .showcase-content {
    color: #fff;
    text-align: center;
    padding-top: 170px;
}

#showcase .showcase-content h1 {
    font-size: 60px;
    line-height: 1.2em
}

#showcase .showcase-content p {
    padding-bottom: 20px;
    line-height: 1.7em;
}


/* Home-Info */

#home-info {
    height: 500px;
    overflow: hidden;
}

#home-info .info-img {
    float: left;
    width: 50%;
    min-height: 100%;
    background: url('../img/photo-3.jpg') no-repeat center center/cover;
}

#home-info .info-content {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 60px 40px;
    margin-top: 80px;
} 

#home-info .info-content p {
    padding-bottom: 20px;
}

/* features */
.box {
    color: #fff;
    float: left;
    text-align: center;
    width: 33.3%;
    height: 400px;
    padding: 50px;
    overflow: hidden;
}
.box:nth-child(2) {
    color: #000;
}

.box-content {
    margin-top: 20px;
}

.box-content i {
    font-size: 60px;
}

.box-content h3 {
    margin-top: 10px;
    font-size: 30px;
}

.box-content p {
    font-size: 18px;
    line-height: 1.4em; 
}


/* about */
#about-info {
    padding: 50px 0;
}

#about-info .info-right {
    float: right;
    width: 50%;
    min-height: 100%;
}
#about-info .info-right  img {
    display: block;
    margin: auto;
    width: 60%;
    height: 300px;
    border: 1px solid var(--color-primary);
    border-radius: 50%;
 }

 #about-info .info-left {
    float: left;
    margin-top: 40px;
    width: 50%;
    min-height: 100%;
 }

 #about-info .info-left h2 {
    font-size: 35px;
 }

/* testimonials */

#testimonials {
    background-image: url(../img/test-bg.jpg);
    position: relative;
    height: 600px;
    z-index: 2;
}

#testimonials::before {
content: " ";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #000000;
opacity: .88;
z-index: -2;
}

#testimonials .testimonial {
    background: var(--color-primary);
    padding: 40px;
    margin-top: 40px;
    border-radius: 10px;
}
#testimonials .container h1 {
    font-size: 35px;
    color: #f4f4f4;
    text-align: center;
    margin-top: 35px;
    padding-top: 20px;
}

#testimonials .testimonial img {
    height: 100px;
    float: left;
    margin-right: 20px;
    border: 3px solid #000;
    border-radius: 50%;
}

/* footer */
#main-footer {
    text-align: center;
}

#main-footer p {
    margin: 25px 0;
}

























